@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #f5f5f5;
  color: #3d3d3d;
}

.wrapper {
  max-width: 800px;
  width: 90%;
  margin: 20px auto;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

a:link, a:visited {
  text-decoration: none;
  color: #008FFF;
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 45px;
  font-weight: normal;
}

h1, h3 {
  font-size: 30px;
  margin: 1em 0;
}

h2 a:link,
h3 a:link,
h2 a:visited,
h3 a:visited {
  color: #455563;
  text-decoration: none;
}

h1 span,
h3 span {
  font-size: 14px;
}

.content {
  border-top: 1px solid #111;
  padding: 20px 0;
}

.content p, code {
  font-size: 1.125em;
  line-height: 1.5;
}

.post {
  border-top: 1px solid #111;
  padding: 20px 0;
}
.post:first-of-type {
  border-top: none;
}

p > code,
pre {
  background: #2C2C2C;
  color: #fff;
  padding: 0 .25em;
}

pre { padding: 1em; }

.permalink {
  text-align: right;
  display: block;
}

a.permalink:link, a.permalink:visited {
  color: #111;
}

.foot {
  border-top: 1px solid #111;
  padding: 20px 0;
  font-size: 15px;
}






