@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #fff;
  color: rgba( 0, 0, 0, 0.7 );
}

.wrapper {
  max-width: 800px;
  width: 90%;
  margin: 20px auto;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
}

a:link, a:visited {
  text-decoration: none;
  color: #0971B2;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

h2 {
  font-size: 36px;
  font-weight: normal;
}

h1, h3 {
  font-size: 30px;
  margin: 1em 0;
}

.title { 
  font-size: 36px;
}

h2 a:link,
h3 a:link,
h2 a:visited,
h3 a:visited {
  color: rgba( 0, 0, 0, 0.7 );
  text-decoration: none;
}


h1 span,
h3 span {
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  margin-top: 6px;
}

.hero {
  text-align: right;
}

.hero a {
  font-weight: normal;
}

.content {
  padding: 20px 0;
}

.content p, code {
  font-size: 1.125em;
  line-height: 1.5;
}

.post {
  border-top: 1px solid rgba( 0, 0, 0, 0.2 );
  padding: 20px 0;
}

.post:first-of-type {
  border-top: none;
}

.post > p {
  margin: 0 auto 30px;
}

li, li > p { margin: 0 auto 10px; }

p > code,
pre {
  background: #f2f8fa;
  color: #616A6D;
  padding: 0 .25em;
  border: 1px solid #e1edf1;
}

pre { 
    padding: 1em; 
    /* optimized for mobile */
    min-width: 200px;
    overflow: auto;
}

.permalink {
  text-align: right;
  display: block;
}

a.permalink:link, a.permalink:visited {
  color: #111;
}

.foot {
  border-top: 1px solid rgba( 0, 0, 0, 0.2 );
  padding: 20px 0;
  font-size: 15px;
}
