<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title> {{ page.title }}</title>
  </head>
  <body>
    <a href="https://github.com/jackfranklin/tilvim"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
    <div class="wrapper">
      <h2><a href="/">Today I learned: Vim</a></h2>
      <div class="content">
        {{ content }}
      </div>

      <div class="foot">
        <p>TIL: Vim is another side project by <a href="http://github.com/jackfranklin">Jack Franklin</a>.</p>
        <p>I'm by no means a Vim expert, but wanted to share the things I learn in Vim as I attempt to get better and more efficient using it. I figured documenting it somewhere where others can see and contribute was a good way to do it.</p>
      </div>
    </div>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-40411645-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
